.carousel-card{
    width: 100vw;
    min-width: 340px;
    // background: #000;
    margin:0  10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    // transform: translateX(-200vw);


}