// *{
//     border: 1px solid red;
// }
@import '../../styles/variable';
.social{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding:0  10px;
    &-top{
        
    }
   
    &-bottom{
        // margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
        text-align: center;
        h2{
            font-size: $intro_h2;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            svg{
                margin-right: 10px;
                
            
            }
        }

    }

}