$mainFont:Roboto, sans-serif;
$primary:#354694;
$blue-tx: #6569bb;
$red: #DD3030;
$mainColor: #5b1cad;
$yellow: #FFAC33;
$green: rgb(3, 194, 60); 
$transparentBG: rgba(35, 54, 68, 0.589);
$intro_h2: 35px;
$inputbg: rgba(238, 226, 226, 0.192);
