@import '../../styles/variable';
.wrapper{
    position: relative;
    &-arrow{
        // position: absolute;
        height: 70px;
        position:sticky;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 10px;
        left: 0;
        top: 0;
        right: 0;
        z-index: 1;
        svg{
            font-size: 30px;
            margin-right:16px;
            color: aliceblue;
            &:hover{
                color: $mainColor;
            }
        }
        h3{
            font-size: 20px;
        }
    }
    &-children{
        margin: 2px;
        
    }
}
.bg{
    &-arrow{
        background: rgb(207, 196, 196);

    }
}