@import "../../styles/variable";
.search{
    padding: 10px;
    &__header{
        display: flex;
        justify-content: space-between;
        font-weight: 600;
        .left{

        }
        .btn{
            color: $mainColor;
            cursor: pointer;
        }
    }
}