@import '../../styles/variable';
.signinout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    text-align: center;
    padding: 10px;
    h2{
        font-size: $intro_h2;
        margin-top: 110px;
        
    }
    &-form{
        margin: 40px 0;
    }
    &-icons{
        &_icon{
            display: flex;
            justify-content: space-evenly;
            margin: 20px 0;
        }
    }
    &-footer{
        margin-bottom: 20px;
    }
}