@import './styles/_mixin.scss';
.App{
  margin: auto;
  max-width: 350px;
  // border-radius: 20px;
  border: 2px dotted green;
  // height: 100vh;
  @include mobile{
    max-width: 400px;
    width: 100%;
    // background: #000;
  }
  background: rgb(250, 248, 252);
}